<a href="https://colab.research.google.com/github/Asanojyun/Introduction-to-Computers/blob/main/%E7%BF%92%E9%A1%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = int(input())
if a<0:
  print("Input Error")
elif a%2==0:
  print(a,"is even")
else:
  print(a,"is odd")

2
2 is even

In [ ]:
b = int(input())
c = float(100000*(1+0.03)**b)
if b<0:
  print("Input Error")
else:
  print(c)

-4
Input Error

In [ ]:
d = 1
sum = 0
for d in range(1,101):
  sum = sum+d
print(sum)

5050

In [ ]:
n = int(input())
for i in range(1,n+1):
  if n%i==0:
    print(i,end=" ")

30
1 2 3 5 6 10 15 30

In [ ]:
e = str.split(input())
for f in e[::-1]:
  print(f,end=" ")

one emo
apple banana cake

In [ ]:
#-----------------------------------------problems----------------------------------------

In [ ]:
a = int(input())
if a<0:
  print("Input Error")
elif a%2==0:
  print(a,"is even")
else:
  print(a,"is odd")

35
35 is odd

In [ ]:
month = int(input())
if month==1 or month==2 or month==3:
  print(month,"is spring")
elif month==4 or month==5 or month==6:
  print(month,"is summer")
elif month==7 or month==8 or month==9:
  print(month,"is autumn")
elif month==10 or month==11 or month==12:
  print(month,"is winter")
else:
  print("Input Error")

15
Input Error

In [ ]:
km = int(input())
if km==0:
  print("0 yuan")
elif km>=1 and km<=5:
  print("240 yuan")
elif km>5:
  print(240+(km-5)*40,"yuan")
else:
  print("Input Error")

12
520 yuan

In [ ]:
b = int(input())
c = float(100000*(1+0.03)**b)
if b<0:
  print("Input Error")
else:
  print(c)

In [ ]:
numbers = input()
list = numbers.split()
list = [int(num) for num in list]
min = list[0]
if list[1] < min:
    min = list[1]
if list[2] < min:
    min = list[2] 
print(min)

5 18 3
3

In [ ]:
number = input()
list = number.split()
list = [float(num) for num in list]
max = list[0]
if list[1] > max:
  max = list[1]
if list[2] > max:
  max = list[2]
print(max)

50.9 80.3 30.5
80.3

In [ ]:
n = int(input())
for i in range(1,n+1):
  if n%i==0:
    print(i,end=" ")

35
1 5 7 35

In [ ]:
n = int(input())
sum = 0
for i in range(1,n+1):
  if i%3==0 or i%7==0:
    sum = sum+i
print(sum)

9999
21426429

In [17]:
n = int(input())
for i in range(1,n+1):
  print("*"*i)

5
*
**
***
****
*****

In [10]:
n = int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

7
1
12
123
1234
12345
123456
1234567

In [13]:
a,b = map(int,input().split())
def cde(x,y):
  while y!=0:
    x,y = y,x%y
  return x
result = cde(a,b)
print(result)

80 81
1

In [14]:
a,b = map(int,input().split())
def cde(x,y):
  while y!=0:
    x,y = y,x%y
  return x
result = (a*b) // cde(a,b)
print(result)

11 13
143

In [16]:
str = input()
result = ""
for i in range(len(str)):
  if i%2==0:
    result += str[i].upper()
  else:
    result += str[i].lower()
print(result)

tamkang university
TaMkAnG UnIvErSiTy

In [ ]:
number = input()
list = number.split()
list = [float(num) for num in list]
if list[0]+list[1]>list[2] and list[0]+list[2]>list[1] and list[2]+list[1]>list[0]:
  print("Valid")
else:
  print("Invalid")

3 4 5
Valid

In [ ]:
x = str.split(input())
for i in x[::-1]:
  print(i,end=" ")

one wemo
apple banana cake

In [ ]:
password = input()
covered = "*" * len(password)
print(covered)
print("total:" + str(len(password)))

In [27]:
second = int(input())
hour = second // 3600
minute = (second % 3600) // 60
second = second % 60
time = "{:02d}:{:02d}:{:02d}".format(hour,minute,second)
print(time)

59438
16:30:38

In [ ]:
seconds = int(input("請輸入時間的秒數: "))

hours = seconds // 3600
minutes = (seconds % 3600) // 60
seconds = seconds % 60

time_str = "{:02d}:{:02d}:{:02d}".format(hours, minutes, seconds)
print(time_str)

In [ ]:
year = int(input())
if (year%4==0 and year%100!=0) or year%400==0:
  print(year,"is leap year")
else:
  print(year,"is common year")

2100
2100 is common year

In [33]:
number = int(input())
for i in range(1,10):
    if i == 9:
        print()
    line = ""
    for j in range(1,number+1):
        result = j * i
        line += "%d*%d=%d " % (j,i,result)
    print(line)

3
1*1=1 2*1=2 3*1=3
1*2=2 2*2=4 3*2=6
1*3=3 2*3=6 3*3=9
1*4=4 2*4=8 3*4=12
1*5=5 2*5=10 3*5=15
1*6=6 2*6=12 3*6=18
1*7=7 2*7=14 3*7=21
1*8=8 2*8=16 3*8=24

1*9=9 2*9=18 3*9=27

In [38]:
number = int(input())
for i in range(number, 10):
    if i == 9:
        print()
    line = ""
    for j in range(1, number + 1):
        result = i * j
        line += "%d*%d=%d " % (j,i,result)
    print(line)

3
1*3=3 2*3=6 3*3=9
1*4=4 2*4=8 3*4=12
1*5=5 2*5=10 3*5=15
1*6=6 2*6=12 3*6=18
1*7=7 2*7=14 3*7=21
1*8=8 2*8=16 3*8=24

1*9=9 2*9=18 3*9=27

In [ ]:
z = int(input())
sum = 0
for i in range(15,z+1):
  if i%2==0:
    sum = sum+i
print(sum)

22
76